/* Author- Tejasvi Raj Pant */

.main-container {
	margin-top: 25px;
	font-family: 'Montserrat', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

}

.card-container {

	border-radius: 25px;
	-webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
	background-color: #222831;
	color: #ffffff;
	height: 400px;
	display:flex;
}


@media only screen and (max-width: 870px) {
	.card-container {
		height: 470px;
		margin-bottom: 20px;
	}

}

@media only screen and (max-width: 700px) {
	.card-container {
		height: 470px;
	}

}

@media only screen and (max-width: 500px) {
	.card-container {
		flex-direction: column;
		height:1030px;
		width: 300px;
	}	
  }