/* Author- Tejasvi Raj Pant */

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.col-auto {
	margin-right: 3px;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.card {
    justify-content: center;
    height: 3.75rem;
}

.card-body {
    padding: 0;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    display: flex;
	align-items: center;
	justify-content: center;
}